<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salon Management System</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
        integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">

</head>

<body onload="draw()">
    <header id="nav-wrapper">
        <nav id="nav">
            <div class="nav left">
                <span class="gradient skew">
                    <h1 class="logo un-skew"><a href="/">
                            BeautySN
                        </a></h1>
                </span>
                <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
            </div>
            <div class="nav right">
                <a href="/" class="nav-link active"><span class="nav-link-span"><span
                            class="u-nav">Home</span></span></a>
                <a href="/news" class="nav-link"><span class="nav-link-span"><span class="u-nav">News</span></span></a>
                <a href="/login" class="nav-link"><span class="nav-link-span"><span
                            class="u-nav">Login</span></span></a>
                <a href="/register" class="nav-link"><span class="nav-link-span"><span
                            class="u-nav">Register</span></span></a>
            </div>
        </nav>
    </header>
    <main class="main-container">
        <div class="video_section" style="margin-top: 50px;">
            <video autoplay muted loop id="myVideo">
                <source src="/salon.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </main>

    <%- include('./partials/footer'); %>
    <!-- partial -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/logo.js"></script>
    <script>
        var video = document.getElementById("myVideo");
        var btn = document.getElementById("myBtn");

        function myFunction() {
            if (video.paused) {
                video.play();
                btn.innerHTML = "Pause";
            } else {
                video.pause();
                btn.innerHTML = "Play";
            }
        }
    </script>
</body>

</html>