<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salon | New Salon</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
        integrity="sha256-PF6MatZtiJ8/c9O9HQ8uSUXr++R9KBYu4gbNG5511WE=" crossorigin="anonymous" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <header id="nav-wrapper">
        <nav id="nav">
            <div class="nav left">
                <span class="gradient skew">
                    <h1 class="logo un-skew">
                        <a href="/dashboard">
                            BeautySN
                        </a>
                    </h1>
                </span>
                <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
            </div>
            <div class="nav right">
                <a href="/dashboard" class="nav-link">
                    <span class="nav-link-span">
                        <span class="u-nav">Home</span>
                    </span>
                </a>
                <a href="/salon" class="nav-link active">
                    <span class="nav-link-span">
                      <span class="u-nav">Salons</span>
                    </span>
                  </a>
                <a href="/appointment" class="nav-link">
                    <span class="nav-link-span">
                        <span class="u-nav">Appointment</span>
                    </span>
                </a>
                <a href="/logout" class="nav-link">
                    <span class="nav-link-span">
                        <span class="u-nav">Logout</span>
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <main class="main-container">
        <div class="container py-5">
            <div class="card">
                <div class="card-header">
                    <h4>New Salon</h4>
                </div>
                <div class="card-body p-3">
                    
                </div>
            </div>
        </div>
        
        
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    
</body>