body {
    margin: 0;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #f5f7fb;
}

.main-container {
    margin-top: 60px;
}

.page-single {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1rem 0;
}

.page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
}

.col-auth {
    max-width: 30rem;
}

.card-title {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    margin-bottom: 0.375rem;
    font-weight: 600;
    font-size: 0.875rem;
}

.btn {
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
}

a {
    color: #467fcf;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
    box-shadow: none !important;
    border: 1px solid rgba(10, 103, 233, 0.25) !important;
}

.input-controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}

#searchInput:focus {
    border-color: #4d90fe;
}

#searchSalon {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}

#searchSalon:focus {
    border-color: #4d90fe;
}

.salon_image_box {
    width: auto;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.salon_image_box img {
    width: 100%;
    height: 100%;
}